<footer id="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5>Find us at @wayfarehq</h5>
        <ul class="social-links list-unstyled">
          <li><a class="instagram" href="http://instagram.com/wayfarehq" target="_blank" title="Instagram"></a></li>
          <li><a class="twitter" href="https://twitter.com/wayfarehq" target="_blank" title="Twitter"></a></li>
          <li><a class="facebook" href="https://www.facebook.com/WayfareHQ" target="_blank" title="Facebook"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
