<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        <a href="/interns">INTERNSHIPS</a>
        &bull;
        <a href="http://coworkers.wayfare.io">MEMBERS</a>
        &bull;
        <a href="http://wayfare.perkhub.com">PERKS</a>
        &bull;
        Find us at @wayfarehq
      </p>
      <ul class="social-links list-unstyled">
        <li><a class="instagram no-underline" href="http://instagram.com/wayfarehq" target="_blank" title="Instagram"></a></li>
        <li><a class="twitter no-underline" href="https://twitter.com/wayfarehq" target="_blank" title="Twitter"></a></li>
        <li><a class="facebook no-underline" href="https://www.facebook.com/WayfareHQ" target="_blank" title="Facebook"></a></li>
      </ul>
    </div>
  </div>
</div>
