<footer class="centered-navigation top-border">
  <div class="centered-navigation-wrapper">
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="https://www.facebook.com/WayfareHQ" target="_blank">Facebook</a></li>
      <li class="nav-link"><a href="https://twitter.com/wayfarehq" target="_blank">Twitter</a></li>
      <li class="nav-link"><a href="http://instagram.com/wayfarehq" target="_blank">Instagram</a></li>
      <!-- <li class="nav-link"><a href="/blog" target="_self">Blog</a></li> -->
      <!-- <li class="nav-link"><a href="/contact" target="_self">Contact</a></li> -->
    </ul>
  </div>
</footer>
