<div class="header-home">
  <div class="header-home-nav hidden-xs">
    <div class="text-center">
      {% include 'includes/nav-home' %}
    </div>
  </div>
  <div class="logo">
    {% include 'includes/logo' %}
  </div>
  <h1>{{meta.slogan | markdown}}</h1>
  <a class="jump-down no-underline">
    <i class="fa fa-chevron-circle-down" data-scroll-to="#about" data-scroll-offset="-50"></i>
  </a>
  <a href="#big-slide-panel" class="big-slide-link no-underline visible-xs-block">
    <i class="fa fa-bars"></i>
  </a>
</div>

<script type="text/javascript">
  $(function() {
    $(".header-home").backstretch([
      {% for asset in assets %}
        "{{asset.url}}",
      {% endfor %}
    ], {duration: 3000, fade: 750});
  });
  var positionLogo = function() {
    var headerHeight = Math.max($(window).height()*0.75, 500);
    $('.header-home').css('height', headerHeight);
    $('.header-home .logo').css({'position': 'absolute',
                                 'top': headerHeight*0.3,
                                 'left': ($('.header-home').width()/2) - ($('.header-home .logo img').width()/2)});
    $('.header-home h1').css({'position': 'absolute',
                              'top': ($('.header-home .logo').offset().top + $('.header-home .logo img').height() + 10),
                              'left': 0,
                              'width': $(window).width()});
  };
  positionLogo();
  setTimeout(positionLogo, 1000);
  $(window).resize(positionLogo);
</script>
