<header class="header-home">
  <nav class="util-nav">
    <a href="http://coworkers.wayfare.io">MEMBERS</a>
    &bull;
    <a href="http://wayfare.perkhub.com">PERKS</a>
  </nav>
  <h1 id="logo">
    <a href="/">
      <span>Wayfare</span>
    </a>
    <h2 id="tagline">
      Let&rsquo;s pursue the world&rsquo;s best future together.
    </h2>
  </h1>
</header>
{% include nav-home.html %}

<script type="text/javascript">
  $(function() {
    $(".header-home").backstretch(["{{ 'space/interior-3.jpg' | asset_path }}",
                                  "{{ 'space/interior-1.jpg' | asset_path }}",
                                  "{{ 'space/interior-4.jpg' | asset_path }}",
                                  "{{ 'space/exterior-1.jpg' | asset_path }}",
                                  "{{ 'space/interior-5.jpg' | asset_path }}",
                                  "{{ 'space/interior-6.jpg' | asset_path }}",
                                  "{{ 'space/interior-7.jpg' | asset_path }}",
                                  "{{ 'space/interior-8.jpg' | asset_path }}",
                                  "{{ 'space/interior-9.jpg' | asset_path }}",
                                  "{{ 'space/interior-10.jpg' | asset_path }}"],
                                 {duration: 3000, fade: 750});
  });
</script>
<script>
  var positionLogo = function() {
    $('.header-home').css('height', $(window).height());
    $('#logo').css('height', ($(window).height() - $('.nav-home').height()));
    $('#tagline').css('top', ($('#logo').height() / 2) + 20);
  };
  positionLogo();
  $(window).resize(positionLogo);
  var positionNav = function() {
    var scrollPosition = $(window).scrollTop();
    if (scrollPosition > ($(window).height() - $('.nav-home').height())) {
      $('.nav-home').addClass('fixed');
    } else {
      $('.nav-home').removeClass('fixed');
    }
  };
  positionNav();
  $(window).scroll(positionNav);
</script>
