<div class="nav-wrapper">
  <nav>
    <a href="/#wf-space">The Space</a>
    <a href="/coworking" {% if page.nav == "coworking" %}class="active"{% endif %}>Coworking</a>
    <a href="/events" {% if page.nav == "events" %}class="active"{% endif %}>Events</a>
      <br class="visible-xs">
      <hr class="visible-xs">
    <a href="/incubator" {% if page.nav == "incubator" %}class="active"{% endif %}>Incubator</a>
    <a href="http://blog.wayfare.io">Blog</a>
    <a href="/gift-guide" {% if page.nav == "gift-guide" %}class="active"{% endif %}>Gift Guide</a>
    <a href="/contact" {% if page.nav == "contact" %}class="active"{% endif %}>Contact</a>
  </nav>
</div>
