<div class="nav-wrapper">
  <nav>
    <a href="/#wf-space">About</a>
    <a href="/workspace" {% if page.nav == "workspace" %}class="active"{% endif %}>Workspace</a>
    <a href="/events" {% if page.nav == "events" %}class="active"{% endif %}>Events</a>
      <br class="visible-xs">
      <hr class="visible-xs">
    <a href="/startups" {% if page.nav == "startups" %}class="active"{% endif %}>Startups</a>
    <a href="http://blog.wayfare.io">Blog</a>
    <a href="/gift-directory" {% if page.nav == "gift-directory" %}class="active"{% endif %}>Gift Directory</a>
    <br class="visible-xs">
    <hr class="visible-xs">
    <a href="/contact" {% if page.nav == "contact" %}class="active"{% endif %}>Contact</a>
  </nav>
</div>
