<nav class="main" role="navigation">
  <ul class="list-unstyled list-inline">
    <li class="home-link"><img src="/assets/images/icon-filled-light.png"></li>
    <li><a class="active" data-scroll-to="#about" data-scroll-offset="-50">About</a></li>
    <li><a href="/workspace">Workspace</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/startups">Startups</a></li>
    <li><a href="http://blog.wayfare.io">Blog</a></li>
    <li><a href="/gift-directory">Gifts</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
