<nav class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a class="centered-navigation-menu-button" style="color: white;">vvv</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="/">The Space</a></li>
      <li class="nav-link"><a href="/co-work">Co-Work</a></li>
      <li class="nav-link"><a href="/co-learn">Co-Learn</a></li>
      <li class="nav-link"><a href="/co-create">Co-Create</a></li>
      <!-- <li class="nav-link"><a href="/calendar">Calendar</a></li> -->
    </ul>
  </div>
</nav>
