{% capture content %}
  <div class="content">
    <div id="gift-directory" class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{meta.page_title | fallback:title}}</h1>
          {{body}}
        </div>
      </div>

      <!-- div class="row">
        <div class="col-xs-12">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">FEATURED: CHRISTMAS AND NEW YEAR CARDS</h3>
            </div>
            <div class="panel-body">
              <p><strong>Artifact Uprising</strong> (<a href="http://www.artifactuprising.com">www.artifactuprising.com</a>)</p>
              <ul>
                <li>Uses all recycled and reclaimed products from within the USA.</li>
                <li>Personalized gift options like photo books, calendars, wooden photo boxes, and postcard packs.</li>
              </ul>
            </div>
          </div>
        </div>
      </div -->

      <div class="row gift-guide">
        {% for page in pages %}
          <div class="col-sm-6">
            {{page.body}}
          </div>
        {% endfor %}
      </div>
    </div>
    {% include 'includes/newsletter' %}
  </div>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us9.list-manage.com","uuid":"bc67950d8cd40831fc249a645","lid":"062d4e2242"}) })</script>
{% endcapture %}

{% include 'layouts/default' %}
