$mid-gray: #CBCAC5;
$purple: #4F4B59;
$light-purple: lighten($purple, 20%);
$brown: #BBB7AB;
$orange: #C98F6E;
$off-white: #f5f5f5;
$light-gray: #DEDDD9;
$dark-gray: #292B2B;

$color1: $dark-gray;
$color2: $light-gray;

$link-color: $light-purple;
$footer-color: $dark-gray;
