@import "colors";
@import "media-queries";
@import "mixins";

html, body { margin: 0; padding: 0; height: 100%; }
body .row { padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0; }
.backstretch { opacity: 0.2 }
#wrapper { min-height: 100%; padding: 0; margin: 0 auto -140px; }
#page-footer, #push { height: 140px; }
body.layout-variant-padding, body#layout-post {
  .nav-wrapper { margin-bottom: 20px; }
  #page-footer { margin-top: 20px; }
  #wrapper { margin-bottom: -160px; }
  #push { height: 160px; }
}

.full-width { width: 100%; }

header {
  height: 400px;
  #logo {
    height: 100%; margin: 0; padding: 0;
    a { display: block; margin: 0 auto; height: 100%; text-align: center; background: url(image-path('wf-logo.png')) no-repeat center center; background-size: 210px auto; }
    span { visibility: hidden; }
  }
  &#home #logo a { background-size: 402px auto; }
  &.content { height: 200px; padding-top: 25px; }
}

.nav-wrapper {
  width: 100%; background: $dark_gray; text-align: center; border-bottom: 6px solid $purple; z-index: 9999;
  nav {
    a {
      cursor: pointer; text-transform: uppercase; font-weight: bold; font-size: 15px; display: inline-block; padding: 20px 10px; text-decoration: none; color: #fff;
      &:hover { color: #fff; background: $purple; text-decoration: none; }
    }
    hr { margin: 0; padding: 0; border-color: $purple; }
  }
  &.nav-home { position: absolute; bottom: 0; left: 0; }
  &.fixed {
    position: fixed; top: 0; left: 0; width: 100%; height: 63px;
    &:hover { @extend .fixed; }
  }
}

.wf-block {
  padding-top: 40px; padding-bottom: 40px; margin-top: 40px;
  .feature-list { padding-left: 5px; }
}
.block-title { text-transform: uppercase; color: $dark_gray; font-size: 22px; font-weight: bold; margin: 0 0 40px 0; padding: 0 20px; text-align: center; }
h2.block-title { font-size: 16px; color: #999; margin: 0 0 40px 0; text-transform: none; font-weight: normal; line-height: normal; }

.wf-space, .wf-cocreate {
  .space-img {
    height: 200px; border-left: 1px solid #fff; border-bottom: 1px solid #fff;
    &.space-img-1 { background: url(image-path('wayfare-interior.jpg')) no-repeat center center; background-size: cover; }
    &.space-img-2 { background: url(image-path('space/interior-12.jpg')) no-repeat center center; background-size: cover; }
    &.space-img-3 { background: url(image-path('space/interior-5.jpg')) no-repeat center center; background-size: cover; }
    &.space-img-4 { background: url(image-path('space/interior-8.jpg')) no-repeat center center; background-size: cover; }
  }
  h5 { margin: 40px 0 10px 0; text-transform: uppercase; font-weight: bold; }
  .buttons {
    margin-top: 40px; text-align: center;
    .btn { margin: 10px; }
  }
}

.wf-cowork {
  background: $brown; padding-top: 0; padding-bottom: 0; margin-top: 0; color: #fff;
  .block-title { color: #fff; }
  .content-left {
    padding-top: 40px; padding-bottom: 40px; text-align: center;
    p { padding: 0 20px; }
  }
  .img-right { height: 300px; background: url(image-path('wayfare-interior.jpg')) no-repeat center center; background-size: cover; }
}

.wf-benefits {
  text-align: center;
  strong { text-transform: uppercase; font-size: 14px; margin-bottom: 5px; }
  p { color: #999; margin-bottom: 25px; }
}

.wf-pricing {
  background: $purple; height: 200px;
  .block-title { color: #fff; }
}

.wf-colearn {
  &.wf-header {
    background: $brown; margin-bottom: 25px; color: #fff;
    .block-title { color: #fff; }
  }
  p.date { font-weight: bold; }
  padding-top: 0; padding-bottom: 0; margin-top: 0;
  .content-left {
    padding-top: 40px; padding-bottom: 40px; text-align: center;
    p { padding: 0 20px; }
  }
  .img-right { height: 300px; background: url(image-path('events-header.jpg')) no-repeat center center; background-size: cover; }
}

.wf-cocreate {
  h2 { font-size: 18px; color: #777; text-align: center; line-height: 22px; }
}

.blog-sidebar {
  .sidebar-back { margin-top: 20px; }
  aside.sidebar {
    margin: 15px 0; padding: 15px; @include border-radius(5px); background: #f2f2f2; border: 1px solid #ddd;
    &.sidebar-about { background: $purple; color: #fff; border: 0; }
    &.sidebar-recents {
      background: #f2f2f2; border: 1px solid #ddd; padding: 0 15px;
      ul { margin: 0; }
      li { padding: 5px 15px; margin: 0 -15px; border-top: 1px solid #ddd; }
    }
  }
}

.wf-map {
  padding-bottom: 0;
  #map { height: 300px; width: 100%; }
}

#gift-guide {
  font-size: 1.1em;
  .panel { margin-top: 25px; }
  li { font-size: 1.1em; }
}

footer {
  background: #333; border-top: 5px solid $orange; padding: 30px 0; color: #fff; text-align: center;
  h5 { font-size: 11px; text-transform: uppercase; margin-bottom: 15px; }
  ul.social-links {
    li { display: inline-block; margin-right: 10px; }
    a {
      display: block; width: 23px; height: 23px; background-size: 100%;
      &.instagram { background: url(image-path('instagram.png')) no-repeat center center; }
      &.twitter { background: url(image-path('twitter.png')) no-repeat center center; }
      &.facebook { background: url(image-path('facebook.png')) no-repeat center center; }
    }
  }
}

.btn.btn-action {
  padding: 10px 30px; background: transparent; border: 2px solid $dark_gray; color: $dark_gray; font-size: 16px; text-transform: uppercase;
  &:hover { background: $dark_gray; color: #fff; }
}

button[disabled='disabled'] {
  opacity: 0.5;
  &:hover { cursor: not-allowed; }
}

form {
  input.ng-invalid, textarea.ng-invalid { color: $brown; }
  .form-control { display: block; margin: 3px 0 15px; }
  label { font-size: 12px; font-weight: bold; display: block; }
  .flash { padding: 5px; margin-bottom: 15px; @include border-radius(3px); }
}

@media #{$xs} {
  body {
    header {
      &#home #logo a { background-size: 210px auto; }
    }
    .nav-wrapper {
      nav {
        a { padding: 15px 8px; }
      }
      &.fixed { height: 100px; }
    }
    .wf-block {
      .feature-list { padding-left: 20px; }
    }
    .wf-colearn .event {
      height: auto !important;
    }
  }
}
