



<!DOCTYPE html>
<html lang="en" ng-app="WayfareApp">
  <head>
    
      <title>Events &mdash; Wayfare</title>
    
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicons/favicon16.png" type="image/png" sizes="16x16">
    <link rel="shortcut icon" href="/favicons/favicon32.png" type="image/png" sizes="32x32">
    <link rel="shortcut icon" href="/favicons/favicon48.png" type="image/png" sizes="48x48">
    <link rel="shortcut icon" href="/favicons/favicon64.png" type="image/png" sizes="64x64">
    <link rel="shortcut icon" href="/favicons/favicon128.png" type="image/png" sizes="128x128">
    <link rel="shortcut icon" href="/favicons/favicon256.png" type="image/png" sizes="256x256">
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.js" type="text/javascript" ></script>
    <script src="/assets/javascripts/public.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="//api.tiles.mapbox.com/mapbox.js/v2.1.0/mapbox.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/public.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/sticky-footer.css">
    <!--[if !IE 7]>
      <link rel="stylesheet" type="text/css" href="/assets/stylesheets/sticky-footer-ie.css">
    <![endif]-->
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-58422254-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="//apis.google.com/js/platform.js" async defer></script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    
  <script type="text/javascript" charset="utf-8">
    angular.module("WayfareApp").controller("EventsController", ['$scope', 'TicketLeap', function($scope, TicketLeap) {
      $scope.events = [];
      TicketLeap().success(function(data) {
        $scope.events = data.events;
        
          $scope.events.push({
            name: "POPPYjack: Calligraphy for Beginners",
            description: "Join Courtney of POPPYjack Shop for a morning or afternoon full of learning the art of calligraphy! TWO CLASSES AVAILABLE: 10:00 AM - 12:30 PM & 3:00 PM - 5:30 PM.This class is 2.5 hours and will cover the basics of calligraphy including Courtney's personal style of alphabet. A supply kit will be provided to use during the class as well as to take home and continue practicing!Light refreshments will be served.",
            url: "http://www.poppyjackshop.com/calligraphy-classes/august-22-orange-county",
            hero_small_image_url: "/assets/August-23-OC.jpg",
            earliest_start_local: "22 Aug 2015 10:00:00",
            earliest_end_local: "22 Aug 2015 17:30:00"
          })
        
          $scope.events.push({
            name: "Kakalligraphy Beginner Copperplate Workshop",
            description: "This is the first of a 2 part workshop bootcamp held Sunday, August 30th at Wayfare in Costa Mesa from 10:00am - 1:00pm. This fee includes the \"Beginner\" learning experience, supplies as well as refreshments and goodies!  This script entails learning and drawing each letter. Calligraphy is about establishing rhythmic motion while you write which gives you a consistency of shapes and letters, and spaces in between words and lines. You will go home with the following:Basic knowledge of calligraphy and letterforms of the historic Copperplate script.Supplies include the following: Straight Pen Holder, Various Nibs, Sumi Ink & Colored Ink, Practice Sheets, Exemplars of Copperplate Lowercase & Uppercase letters, Basic Calligraphy Knowledge Outline",
            url: "http://www.kakalligraphy.com/workshops/copperplate-workshop-beginner",
            hero_small_image_url: "/assets/kakalligraphy.jpg",
            earliest_start_local: "30 Aug 2015 10:00:00",
            earliest_end_local: "30 Aug 2015 13:00:00"
          })
        
          $scope.events.push({
            name: "KaKalligraphy Intermediate Copperplate Workshop",
            description: "This is the second half of a 2 part Copperplate Workshop held Sunday, August 30th at Wayfare in Costa Mesa from 2:30pm - 4:30pm. This fee includes the \"Intermediate\" learning experience, supplies as well as refreshments. In this portion, students will enhance their knowledge more greatly while diving deep into the correct flourishing techniques, learning variations of the uppercase letters, and gaining a better overall comprehension of spacing. You will go home with the following:Knowledge of offhand flourishing techniques, and other options for uppercase letters.Supplies include the following: Straight Pen HolderVarious NibsSumi Ink & Colored InkPractice SheetsExemplars of Copperplate lowercase, uppercase, flourishing and uppercase variations Basic Calligraphy Knowledge Outline**Supplies will be provided along with refreshments and sustainable snacks.Purchase is required to save your space.  Space is limited.",
            url: "http://www.kakalligraphy.com/workshops/lq6vql6159jhx9i7powwqrz2a19erc",
            hero_small_image_url: "/assets/kakalligraphy-1.jpg",
            earliest_start_local: "30 Aug 2015 14:30:00",
            earliest_end_local: "30 Aug 2015 16:30:00"
          })
        
          $scope.events.push({
            name: "Q Commons",
            description: "Q Commons empowers learning and collaboration in our community here in Orange County and around the world.  Join us on September 24th as we gather to consider how to advance good in Costa Mesa.",
            url: "http://qideas.org/qcommons/costamesa/",
            hero_small_image_url: "/assets/qcommons.jpg",
            earliest_start_local: "24 Sep 2015 19:00:00",
            earliest_end_local: "24 Sep 2015 21:00:00"
          })
        
          $scope.events.push({
            name: "Visual Storytelling and Brand Workshop",
            description: "After defining your mission and vision, it will be crucial to accompany them with visual storytelling and branding in order to tell the world what you are all about.",
            url: "http://wayfare.ticketleap.com/micro-workshop-series-discount-bundle/details",
            hero_small_image_url: "/assets/branding.jpeg",
            earliest_start_local: "07 Oct 2015 18:00:00",
            earliest_end_local: "07 Oct 2015 21:00:00"
          })
        
          $scope.events.push({
            name: "Leadership vs. Management Workshop",
            description: "Learn the difference between what it means to be a leader vs. managing others. Discover the traps that teams often fall into as they form, storm, norm, and preform.",
            url: "http://wayfare.ticketleap.com/micro-workshop-series-discount-bundle/details",
            hero_small_image_url: "/assets/Happy team meeting_0.jpg",
            earliest_start_local: "28 Oct 2015 18:00:00",
            earliest_end_local: "28 Oct 2015 21:00:00"
          })
        
          $scope.events.push({
            name: "Human Resources and Employee Benefits Workshop",
            description: "Growing your organization and creating a team is a very exciting time! Learn how to take care of your employees and discover how to attract the best people.",
            url: "http://wayfare.ticketleap.com/micro-workshop-series-discount-bundle/details",
            hero_small_image_url: "/assets/Growing-Healthcare-Availability-Means-Growth-in-Behavioral-Health.jpg",
            earliest_start_local: "04 Nov 2015 18:00:00",
            earliest_end_local: "04 Nov 2015 21:00:00"
          })
        
          $scope.events.push({
            name: "Organizational Design Workshop (Star Model)",
            description: "It is very important to make sure your organization is designed in a way specific to your needs and serves your mission and team best. Learn a strategic way to organize your organization early on to ensure a bright future.",
            url: "http://wayfare.ticketleap.com/micro-workshop-series-discount-bundle/details",
            hero_small_image_url: "/assets/Organization.jpg",
            earliest_start_local: "11 Nov 2015 18:00:00",
            earliest_end_local: "11 Nov 2015 21:00:00"
          })
        
          $scope.events.push({
            name: "Donor Development Workshop",
            description: "Donor development can be a daunting task for start-ups and entrepreneur. However, there are endless tips and tricks that can help you start off on the right foot and network with the right donors aligned with your mission.",
            url: "http://wayfare.ticketleap.com/micro-workshop-series-discount-bundle/details",
            hero_small_image_url: "/assets/donor development.jpg",
            earliest_start_local: "18 Nov 2015 18:00:00",
            earliest_end_local: "18 Nov 2015 21:00:00"
          })
        
          $scope.events.push({
            name: "Pop-up bakery and shop: Depressed Cake Shop",
            description: "Depressed Cake Shop Orange County is a pop up bakery/shop that raises awareness and financial support for mental health through the sale of baked goods and a variety of other items. It will be a day filled with sweets, demos, vendors, music, a coffee bar, and lots of awesome raffles.",
            url: "https://www.eventbrite.com/e/depressed-cake-shop-orange-county-tickets-17422014715?ref=ecount",
            hero_small_image_url: "/assets/depressed cake shop.png",
            earliest_start_local: "15 Aug 2015 10:00:00",
            earliest_end_local: "15 Aug 2015 05:00:00"
          })
        
          $scope.events.push({
            name: "Data Viz 101",
            description: "Foundational Principles for Effective Data-StorytellingData is abundant, and effectively wading through it to create quality stories is becoming a critical skill for marketers, researchers, and designers. Data Viz 101 is a workshop conducted by the masters of story-telling through data, Column Five.",
            url: "http://orangecounty.aiga.org/event/data-viz-101/",
            hero_small_image_url: "/assets/Data Viz 101.png",
            earliest_start_local: "19 Sep 2015 10:00:00",
            earliest_end_local: "19 Sep 2015 16:00:00"
          })
        
          $scope.events.push({
            name: "Truth is the New Black",
            description: "\"THE REALITY OF GOING AFTER YOUR PASSION\" Join Shawn Marie with her featured guests, Amy Wang + Jacquie Chang the Founders of OrangeGlad, as they openly discuss what it really means, and what it requires... to go after your passion. (www.orangeglad.com) The first 25 people to sign-up will receive a FREE Dessert Box!",
            url: "http://shawn-marie-turi-events.ticketleap.com/truth-is-the-new-black/",
            hero_small_image_url: "/assets/Truth is the New Black.jpg",
            earliest_start_local: "02 Sep 2015 19:00:00",
            earliest_end_local: "02 Sep 2015 21:00:00"
          })
        
          $scope.events.push({
            name: "LVL Academy 2-Day Workshop",
            description: "LVL’s one-of-a-kind, 2-Day workshop is for aspiring wedding planners who are looking to break into the industry and start the journey to a fun and rewarding career. Learn to master creative and technical skills to compliment your passion for wedding planning! Please visit LVL Academy for more information and email kerri@lvlevents.com to sign up today!",
            url: "http://www.lvlevents.com/lvl-academy",
            hero_small_image_url: "/assets/Wayfare Event Pic-1.jpg",
            earliest_start_local: "14 Nov 2015 8:00:00",
            earliest_end_local: "15 Nov 2015 18:00:00"
          })
        
      }).error(function() {
        console.log("Error loading events");
      });
      $scope.convertToDate = function(date) {
        return Date.parse(date);
      }
      $scope.sortDate = function(event) {
        return Date.parse(event.earliest_start_local);
      }
      $scope.pastEvents = function(value, index) {
        if ($scope.convertToDate(value.earliest_start_local) < (new Date())) {
          return true;
        }
      }
      $scope.futureEvents = function(value, index) {
        if ($scope.convertToDate(value.earliest_start_local) >= (new Date())) {
          return true;
        }
      }
    }]);

    angular.module("WayfareApp").controller("PhotosController", ['$scope', 'Instagram', function($scope, Instagram) {
      $scope.photos = [];
      Instagram().success(function(data) {
        $scope.photos = data.data;
      }).error(function() {
        console.log("Error loading Instagram");
      });
    }]);
  </script>

  </head>
  <body>
    <a id="top"></a>
    <div id="page" class="page big-slide-push clearfix">
      <header class="page clearfix">
        
          <div class="hidden-xs text-center">
  <nav class="main" role="navigation">
  <ul class="list-unstyled list-inline">
    <li class="home-link"><img src="/assets/images/icon-filled-light.png"></li>
    <li><a href="/">About</a></li>
    <li><a href="/workspace" >Workspace</a></li>
    <li><a href="/events"  class="active">Events</a></li>
    <li><a href="/startups" >Startups</a></li>
    <li><a href="http://blog.wayfare.io">Blog</a></li>
    <li><a href="/gift-directory" >Gifts</a></li>
    <li><a href="/contact" >Contact</a></li>
  </ul>
</nav>

</div>
<div class="header-logo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo text-center">
          
  
  <a href="/" class="no-underline">

  <img src="/assets/images/logo-dark.png" alt="Wayfare">




        </div>
      </div>
    </div>
  </div>
</div>
<a href="#big-slide-panel" class="big-slide-link no-underline visible-xs-block">
  <i class="fa fa-bars"></i>
</a>

        
        <div class="header-fixed" data-spy="affix" data-offset-top="20">
  <div class="hidden-xs text-center">
    
      <nav class="main" role="navigation">
  <ul class="list-unstyled list-inline">
    <li class="home-link"><img src="/assets/images/icon-filled-light.png"></li>
    <li><a href="/">About</a></li>
    <li><a href="/workspace" >Workspace</a></li>
    <li><a href="/events"  class="active">Events</a></li>
    <li><a href="/startups" >Startups</a></li>
    <li><a href="http://blog.wayfare.io">Blog</a></li>
    <li><a href="/gift-directory" >Gifts</a></li>
    <li><a href="/contact" >Contact</a></li>
  </ul>
</nav>

    
  </div>
  <div class="header-logo visible-xs-block">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="logo text-center">
            
  <a href="/" class="no-underline">

  <img src="/assets/images/logo-light.png" alt="Wayfare">


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="visible-xs-block">
    <a href="#big-slide-panel" class="big-slide-link no-underline">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

        <nav class="util" role="navigation">
  <ul class="list-unstyled list-inline">
    <li><a href="http://coworkers.wayfare.io">MEMBERS</a></li>
    <li class="hidden-xs">&bull;</li>
    <li><a href="http://wayfare.perkhub.com">PERKS</a></li>
  </ul>
</nav>

      </header>
      
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Events at Wayfare</h1>
          <h4>Wayfare is ideal for workshops, conferences, fundraisers, gatherings, or parties as well as small client meetings or presentations. We also offer event planning and consulting services for fundraisers. Join us at one of our upcoming events, or <a href="/contact">contact us</a> if you&rsquo;d like more information about hosting your event at Wayfare or planning an events with us.</h4>

        </div>
      </div>
    </div>

    <div class="container" ng-controller="EventsController">
      <div class="row">
        <div class="col-md-8 events">
          <h2>Upcoming Events</h2>
          <div class="upcoming-events">
            <div ng-repeat="event in events | filter:futureEvents | orderBy:sortDate" class="panel panel-default event" itemscope itemtype="http://schema.org/Event">
              <div class="panel-heading">
                <a href="{[event.url]}" itemprop="url">
                  <h4><span itemprop="name">{[event.name]}</span><span class="pull-right">&raquo;</span></h4>
                </a>
              </div>
              <div class="panel-body media">
                <div class="pull-left media-left">
                  <a href="{[event.url]}">
                    <img ng-src="{[event.hero_small_image_url | https]}" class="media-object" width="150">
                  </a>
                </div>
                <div class="media-body">
                  <h5 class="media-heading">
                    <span itemprop="startDate" content="{[convertToDate(event.earliest_start_local) | date:'yyyy-MM-ddTHH:mm']}">{[convertToDate(event.earliest_start_local) | date:'MMM d, yyyy h:mma']}</span>
                    &mdash;
                    <span itemprop="endDate" content="{[convertToDate(event.earliest_end_local) | date:'yyyy-MM-ddTHH:mm']}">{[convertToDate(event.earliest_end_local) | date:'h:mma']}</span>
                  </h5>
                  <p>{[event.description | words:50]}</p>
                  <p><a href="{[event.url]}">View Details and Register &raquo;</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 instagram-photos" ng-controller="PhotosController">
          <h2>Recent Photos</h2>
          <div class="recent-photos clearfix">
            <div class="photo" ng-repeat="photo in photos">
              <a ng-href="{[photo.link]}"><img ng-src="{[photo.images.thumbnail.url | https]}"></a>
            </div>
          </div>
          <p class="text-center">
            <a href="http://instagram.com/wayfarehq">View More &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>

      
      
    </div>
    <footer class="page big-slide-push clearfix">
      <div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        <a href="http://coworkers.wayfare.io">MEMBERS</a>
        &bull;
        <a href="http://wayfare.perkhub.com">PERKS</a>
        &bull;
        Find us at @wayfarehq
      </p>
      <ul class="social-links list-unstyled">
        <li><a class="instagram no-underline" href="http://instagram.com/wayfarehq" target="_blank" title="Instagram"></a></li>
        <li><a class="twitter no-underline" href="https://twitter.com/wayfarehq" target="_blank" title="Twitter"></a></li>
        <li><a class="facebook no-underline" href="https://www.facebook.com/WayfareHQ" target="_blank" title="Facebook"></a></li>
      </ul>
    </div>
  </div>
</div>

    </footer>
    <div id="big-slide-panel" class="mobile-nav big-slide-panel">
  
    <nav class="main" role="navigation">
  <ul class="list-unstyled list-inline">
    <li class="home-link"><img src="/assets/images/icon-filled-light.png"></li>
    <li><a href="/">About</a></li>
    <li><a href="/workspace" >Workspace</a></li>
    <li><a href="/events"  class="active">Events</a></li>
    <li><a href="/startups" >Startups</a></li>
    <li><a href="http://blog.wayfare.io">Blog</a></li>
    <li><a href="/gift-directory" >Gifts</a></li>
    <li><a href="/contact" >Contact</a></li>
  </ul>
</nav>

  
  <nav class="util" role="navigation">
  <ul class="list-unstyled list-inline">
    <li><a href="http://coworkers.wayfare.io">MEMBERS</a></li>
    <li class="hidden-xs">&bull;</li>
    <li><a href="http://wayfare.perkhub.com">PERKS</a></li>
  </ul>
</nav>

</div>

  </body>
</html>

