---
title: "Events"
nav: "events"
---

<div class="wf-colearn wf-block wf-header">
  <div class="row">
    <div class="col-md-6 content-left">
      <h1 class="block-title">Events</h1>
      <p>Wayfare is ideal for workshops, conferences, gatherings, or parties as well as small client meetings or presentations. Join us at one of our upcoming events, or <a href="/contact">contact us</a> if you'd like more information about hosting your event at Wayfare.</p>
    </div>
    <div class="col-md-6 img-right"></div>
  </div>
</div>

<div class="container" ng-controller="EventsController">
  <div class="row">
    <div class="col-md-8 events">
      <div class="row">
        <h2>UPCOMING EVENTS</h2>
      </div>
      <div class="row">
        <div ng-repeat="event in events | filter:futureEvents | orderBy:sortDate" class="panel panel-default event" itemscope itemtype="http://schema.org/Event">
          <div class="panel-heading">
            <a href="{[event.url]}" itemprop="url">
              <h4><span itemprop="name">{[event.name]}</span><span class="pull-right">&raquo;</span></h4>
            </a>
          </div>
          <div class="panel-body media">
            <div class="pull-left media-left">
              <a href="{[event.url]}">
                <img ng-src="{[event.hero_small_image_url]}" class="media-object" width="150">
              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading">
                <span itemprop="startDate" content="{[convertToDate(event.earliest_start_local) | date:'yyyy-MM-ddTHH:mm']}">{[convertToDate(event.earliest_start_local) | date:'MMM d, yyyy h:mma']}</span>
                &mdash;
                <span itemprop="endDate" content="{[convertToDate(event.earliest_end_local) | date:'yyyy-MM-ddTHH:mm']}">{[convertToDate(event.earliest_end_local) | date:'h:mma']}</span>
              </h5>
              <p>{[event.description | words:50]}</p>
              <p><a href="{[event.url]}">View Details and Register &raquo;</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h2>PAST EVENTS</h2>
      </div>
      <div class="row">
        <div ng-repeat="event in events | filter:pastEvents | orderBy:sortDate:true" class="panel panel-default event">
          <div class="panel-heading">
            <a href="{[event.url]}">
              <h4>{[event.name]}<span class="pull-right">&raquo;</span></h4>
            </a>
          </div>
          <div class="panel-body media">
            <div class="pull-left media-left">
              <a href="{[event.url]}">
                <img ng-src="{[event.hero_small_image_url]}" class="media-object" width="150">
              </a>
            </div>
            <div class="media-body">
              <h5 class="media-heading">{[convertToDate(event.earliest_start_local) | date:'MMM d, yyyy h:mma']}&mdash;{[convertToDate(event.earliest_end_local) | date:'h:mma']}</h5>
              <p>{[event.description | words:50]}</p>
              <p><a href="{[event.url]}">View Details &raquo;</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 photos" ng-controller="PhotosController">
      <div class="row">
        <h2>RECENT PHOTOS</h2>
      </div>
      <div class="row">
        <div class="photo" ng-repeat="photo in photos">
          <a ng-href="{[photo.link]}"><img ng-src="{[photo.images.thumbnail.url]}"></a>
        </div>
      </div>
      <div class="row">
        <a href="http://instagram.com/wayfarehq">View More &raquo;</a>
      </div>
    </div>
  </div>
</div>
