{% capture content %}
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>{{meta.headline | fallback:'Collaborative Workspace'}}</h2>
          {{body}}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row" data-equal=".thumbnail">
        {% for page in pages %}
          <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="thumbnail">
              <div class="caption">
                <h4>{{page.title}} <span class="pull-right">{{page.meta.price}}</span></h4>
                {{page.body}}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if meta.alert %}
        <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-warning">
              {{meta.alert | markdown}}
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-xs-12 features-list" data-equal="li">
          <h2>{{meta.features_title | fallback:'Cool Stuff for All Members'}}</h2>
          {{meta.features | markdown}}
        </div>
      </div>
    </div>
  </div>
{% endcapture %}

{% include 'layouts/default' %}
